@model ENB.Mvc.Lawyer.Models.DisplayLawyerOnCase

@{
    ViewData["Title"] = "LawyersperCaseDetails";
}

<div class="alert alert-danger" role="alert">
    <h2><strong>Do you really want to delete this Case: @ViewBag.Message ?</strong></h2>
</div>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameLawyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameLawyer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference_role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference_role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Billing_case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Billing_case)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TotBilling)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TotBilling)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>

@using (Html.BeginForm("DeleteC", "LawyersOnCases", FormMethod.Post))
{
    @Html.Hidden("caseid", Model.CaseId)
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                <input type="submit" value="DeleteC" class="btn btn-danger" />
            </dt>
            <dd class="col-sm-4">
                <a class="btn btn-light" asp-action="LawyersperCaseList" asp-controller="LawyersonCases"
                   asp-route-caseid="@ViewBag.CaseId">Back to List</a>
            </dd>
        </dl>

    </div>
}

