@model ENB.Mvc.Lawyer.Models.DisplayLawyerOnCase

@{
    ViewData["Title"] = "LawyersperCaseDetails";
}

<div class="alert alert-primary" role="alert">
    <h2><strong>Details Lawyer from Case: @ViewBag.Message</strong></h2>
</div>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameLawyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameLawyer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference_role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference_role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Case_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Case_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Billing_case)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Billing_case)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotBilling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotBilling)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dt class="col-sm-4">
            <a class="btn btn-info" asp-action="LawyersperCaseEdit" asp-controller="LawyersonCases"
               asp-route-caseid="@ViewBag.CaseId" asp-route-id="@ViewBag.Id">Edit</a>
        </dt>
        <dd class="col-sm-4">
            <a class="btn btn-light" asp-action="LawyersperCaseList" asp-controller="LawyersonCases"
               asp-route-caseid="@ViewBag.CaseId">Back to List</a>
        </dd>
    </dl>

</div>
